body {
    background-color: rgb(0 207 241);
    color: black;
    text-align: center;
}
.dark-mode {
    background-color: rgb(29 0 62);
    color: white;
}
.disappear {
    display: none;
}
.appear {
    display: unset;
}

.card {
    background-color: lightslategray;
    width: 150px;
    text-align: center;
    height: 150px;
}

.cards {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 10px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
    height: 100%;
}

#displayName {
    display: none;
}

.hidden {
    display: none;
}

#logoutButton {
    display: none;
}

.main-weather {
    width: 100%;
    height: 200px;
}

.settings {
    width: 100%;
    height: 100%;
    display: none;
    border: solid;
}

